@model IEnumerable<IGL.Core.Entities.StoreMaster.StoreDetail>
@{
    ViewData["Title"] = "Store Detail";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Store Details</h3>

                <button class="btn btn-primary pull-right" onclick="store.Fn_CreateStore()">
                    <i class="fa fa-plus-circle"> &nbsp; &nbsp; Add &nbsp; &nbsp;</i>
                </button>

            </div>
            <div class="box-body">
                <table id="IGLDataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th> Phone</th>
                            <th>Address</th>
                            <th>Manager</th>
                            <th>Manager Email</th>
                            <th>Manager Phone</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>
                                    @data.StoreName
                                </td>
                                <td>
                                    @data.StorePhone
                                </td>
                                <td>
                                    @data.StoreAddress
                                </td>
                                <td>
                                    @data.StoreManager
                                </td>
                                <td>
                                    @data.ManagerEmail
                                </td>
                                <td>
                                    @data.ManagerPhone
                                </td>
                                <td>

                                    <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="store.Fn_DeleteStore(@data.Id, this)">
                                        <i class="fa fa-trash" style="color:#DD4B39"></i>
                                    </a>

                                    <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="store.Fn_EditStore(@data.Id, this)">
                                        <i class="fa fa-edit" style="color:#3C8DBC"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

