@model IEnumerable<IGL.Core.Entities.ProductTransaction.ProductIssueDetail>

    <div class="col-xs-12">
        <div class="col-md-4 form-group">
            <label class="control-label">Employee Name</label>
            <span>@Model.First().EmployeeName</span>
        </div>

        <div class="col-md-4 form-group">
            <label class="control-label">Issue Date :</label>
            <span>@Model.First().TransactionDate</span>
        </div>

        <div class="col-xs-12">
            <table id="IGLMaterialTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Item Number</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        int maxValue = Convert.ToInt32(data.Quantity);
                        <tr>
                            <td>
                                <input type="hidden" name="matId" value="@data.Id" />
                                @data.ProductName
                            </td>
                            <td>
                                <input type="hidden" name="ItemNumber" value="@data.ItemNumber" />
                                @data.ItemNumber
                            </td>
                            <td>
                                <input type="number" name="qty" onblur="CheckNo(this,@data.Quantity)" class="form-control" value="@data.Quantity" />
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    
