@model IEnumerable<IGL.Core.ViewModelEntities.MasterVm.MaterialMasterVm>
@{
    ViewData["Title"] = "MaterialMasterIndex";
}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Material Details</h3>
                            <button class="btn btn-info float-sm-right" onclick="material.Fn_EditMaterialMaster()">
                                <i class="fa fa-plus"> &nbsp;Create</i>
                            </button>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Unit</th>
                                        <th>Per Unit Cost</th>
                                        <th>Is Payable</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var data in Model)
                                    {
                                        <tr>
                                            <td>@data.MaterialName</td>
                                            <td>
                                                @data.Code
                                            </td>
                                            <td>@data.Unit</td>
                                            <td>@data.PerUnitCost</td>
                                            <td>@data.IsPayable</td>
                                            <td>
                                                <a class="btn" onclick="material.Fn_EditMaterialMaster(@data.Id, '@data.MaterialName')">
                                                    <i class="fa fa-edit" style="color:#3C8DBC"></i>
                                                </a>
                                                <a class="btn" onclick="material.Fn_DeleteMaterialMaster(@data.Id,'@data.MaterialName')">
                                                    <i class="fa fa-trash" style="color:#DD4B39"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @await Html.PartialAsync("~/Views/Shared/IGLCommanModal.cshtml")
    </section>

<environment include="Development">
    <script src="~/js/Material/Material.js"></script>
</environment>
<environment include="Production">
    <script src="~/js/Material/Material.js"></script>
</environment>