@model IEnumerable<IGL.Core.Entities.Master.UnitMaster>
@{
    ViewData["Title"] = "UnitMaster";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Unit Master Details</h3>
                        <button class="btn btn-info float-sm-right" onclick="unitMaster.Fn_UpsertUnitMaster()">
                            <i class="fa fa-plus"> &nbsp;Create</i>
                        </button>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Unit Name</th>
                                    <th>Code</th>
                                    <th>Is Default</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@data.Name</td>
                                        <td>
                                            @data.Code
                                        </td>
                                        <td>@data.IsDefault</td>
                                        <td>
                                            <a class="btn"  onclick="unitMaster.Fn_EditUnitMaster(@data.Id, '@data.Name')">
                                                <i class="fa fa-edit" style="color:#3C8DBC"></i>
                                            </a>
                                            <a class="btn" onclick="unitMaster.Fn_DeleteUnitMaster(@data.Id)">
                                                <i class="fa fa-trash" style="color:#DD4B39"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/IGLCommanModal.cshtml")
</section>
<environment include="Production">
    <script src="~/js/UnitMaster/UnitMaster.js"></script>
</environment>
<environment include="Development">
    <script src="~/js/UnitMaster/UnitMaster.js"></script>
</environment>

