@model IEnumerable<IGL.Core.ViewModelEntities.Inventory.PurchaseOrderDetail>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Purchase Order List</h3>

                    <button class="btn btn-primary pull-right" onclick="poDetail.Fn_CreatePO()">
                        <i class="fa fa-plus-circle"> &nbsp; &nbsp; Add &nbsp; &nbsp;</i>
                    </button>

                </div>
                <div class="box-body">
                    <table id="IGLDataTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>PO Number</th>
                                <th>PO Date</th>
                                <th>Vendor Name</th>
                                <th>PO Status</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.GroupBy(x=>x.PoId))
                            {
                                <tr>
                                    <td>
                                        @data.First().PoNUmber
                                    </td>
                                    <td>
                                        @data.First().PoDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @data.First().VendorName
                                    </td>
                                    <td>
                                        @data.First().POStatus
                                    </td>
                                    <td>
                                        @data.First().Remarks
                                    </td>
                                   
                                    <td>

                                        <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="poDetail.Fn_ApprovePO(@data.Key, this)">
                                            <i class="fa fa-edit" style="color:#DD4B39"></i>
                                        </a>

                                        <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="poDetail.Fn_DeletePO(@data.Key, this)">
                                            <i class="fa fa-trash" style="color:#DD4B39"></i>
                                        </a>

                                        <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="poDetail.Fn_EditPO(@data.Key, this)">
                                            <i class="fa fa-envelope-open" style="color:#3C8DBC"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>